h1{
    font-style: italic;
    background-color: cadetblue;
    border: 5px solid burlywood;
    padding: 10px;
    margin: 25px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f0f0f0;
    color: #333;
    text-align: justify;
   font-family: "Sofia", sans-serif;

}
div{
    border: 10px dashed turquoise;
    border-radius: 15px;
}
.c{
    font-size: large;
    border: 2px solid salmon;
}