h1{
    font-style: italic;
    background-color: cadetblue;
    border: 5px solid burlywood;
    padding: 10px;
    margin: 25px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f5f5f5;
    text-align: justify;
}
div{
    border: 10px dashed turquoise;
    border-radius: 15px;
}
.c{
    font-size: large;
    border: 2px solid salmon;
}